body {
  font-family: sans-serif;
  background-color:#fff;
  margin: 4px;
  text-align: left;
}

a {
  color: inherit;
}

header {
  background-color: #000;
  color: #fff;
  font-size: 30px;
  width: 100%; height: 40px;
  text-align: left;
}

h1, h2, h3 {
  clear: left;
}

nav {
  background-color: #000;
  margin: 4px 0;
  padding: 8px;
  color: #fff;
}

nav ul {
  list-style: none inside;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

.logo {
  height: 30px;
  margin: 4px 4px 0 4px;
}

.page-title {

}

.content {
  margin-left: 50px;
}

.speaker {
  font-weight: bold;
}

.speakorg {
  font-weight: normal;
}

.session-title {
  font-weight: bold;
}

.session-fulltitle {
  font-weight: normal;
}

.presdiv {
  margin: 4px 0;
  padding: 6px;
  color: white;
}

.timesep {
  margin: 4px 0;
  height: 1px;
  background-color: black;
}

.prestrack {
  float: right;
}

.trackroom {
  float: right;
}

.presdiv-div {
  background-color: #006;
}

.presdiv-edu {
  background-color: #606;
}

.presdiv-muv {
  background-color: #600;
}

.presdiv-oe {
  background-color: #066;
}

.presdiv-si {
  background-color: #630;
}

.presdiv-srov {
  background-color: #660;
}

.presdiv-wrov {
  background-color: #060;
}

.headshot {
  float: left;
  max-width: 320px;
  max-height: 480px;
  display: block;
  margin: 4px;
}

.presimg {
  float: right;
  max-width: 320px;
  max-height: 480px;
  display: block;
  margin: 4px;
}

@media print
{
.schedday {page-break-before:always}
.schedday:first-child {page-break-before:auto}
.schedtrack {page-break-before:always}
.schedtrack:first-child {page-break-before:auto}
}
