body {
  font-family: sans-serif;
  background-color:#fff;
  margin: 4px;
  text-align: left;
}

a {
  color: inherit;
}

header {
  background-color: #000;
  color: #fff;
  font-size: 30px;
  width: 100%; height: 40px;
  text-align: left;
}

nav {
  background-color: #000;
  margin: 4px 0;
  padding: 8px;
  color: #fff;
}

nav ul {
  list-style: none inside;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

.logo {
  height: 30px;
  margin: 4px 4px 0 4px;
}

.page-title {

}

.content {
  margin-left: 50px;
}

.speaker {
  font-weight: bold;
}

.speakorg {
  font-weight: normal;
}

.session-title {
  font-weight: bold;
}

.session-fulltitle {
  font-weight: normal;
}

.presdiv {
  margin: 4px 0;
  padding: 6px;
  color: white;
}

.timesep {
  margin: 4px 0;
  height: 1px;
  background-color: black;
}

.prestrack {
  float: right;
}

.presdiv-div {
  background-color: hsl(220,100%,20%);
}

.presdiv-edu {
  background-color: hsl(300,100%,20%);
}

.presdiv-muv {
  background-color: hsl(350,100%,20%);
}

.presdiv-oe {
  background-color: hsl(180,100%,20%);
}

.presdiv-si {
  background-color: hsl(35,100%,20%);
}

.presdiv-srov {
  background-color: hsl(60,100%,20%);
}

.presdiv-wrov {
  background-color: hsl(135,100%,20%);
}

@media print
{
.schedday {page-break-before:always}
.schedday:first-child {page-break-before:auto}
}
