body {
  font-family: sans-serif;
  background-color:#fff;
  margin: 4px;
  text-align: left;
}

a {
  color: inherit;
}

header {
  background-color: #000;
  color: #fff;
  font-size: 30px;
  width: 100%;
  text-align: left;
}

h1, h2, h3 {
  clear: left;
}

nav {
  background-color: #000;
  margin: 4px 0;
  padding: 8px;
  color: #fff;
}

nav ul {
  list-style: none inside;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline;
}

.logo {
  height: 30px;
  margin: 4px;
  vertical-align: top;
}

.page-title {
  vertical-align: middle;
}

.content {
  margin-left: 50px;
  margin-bottom: 50px;
  margin-right: 12px;
}

.content a {
  color: blue;
}

.speakorg {
  font-weight: normal;
}

.session-title {
  font-weight: bold;
}

.session-fulltitle {
  font-weight: normal;
}

.presdiv {
  margin: 4px 0;
  padding: 6px;
  color: white;
}

.presdiv a {
  color: inherit;
}

.timesep {
  margin: 4px 0;
  height: 1px;
  background-color: black;
}

.prestrack {
  float: right;
}

.trackroom {
  float: right;
}

.presdiv-div {
  background-color: #006;
}

.presdiv-edu {
  background-color: #606;
}

.presdiv-muv {
  background-color: #600;
}

.presdiv-oe {
  background-color: #066;
}

.presdiv-si {
  background-color: #630;
}

.presdiv-srov {
  background-color: #660;
}

.presdiv-wrov {
  background-color: #060;
}

.presdiv-wrex {
  background-color: #666;
}

.presdiv-err {
  color: gray;
  border: 3px solid gray;
}

.presenter-name {
  font-weight: bold;
}

.presenter-info {
  clear: left;
  margin-top: 12px;
}

.presenter-org {

}

.headshot {
  float: left;
  clear: left;
  max-width: 30%;
  display: block;
  max-height: 300px;
  margin-right: 18px;
  margin-bottom: 18px;
}

.presimg {
  float: right;
  width: 30%;
  display: block;
  margin-left: 18px;
  margin-bottom: 24px;
}

@media print
{
  .schedday {page-break-before:always}
  .schedday:first-child {page-break-before:auto}
  .schedtrack {page-break-before:always}
  .schedtrack:first-child {page-break-before:auto}
}

@media only screen and (max-width: 800px)
{
  .content {margin-left:0px;}
}
